/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-spacer {
    flex: 1 1 auto;
  }
  
.cursor-pointer{
  cursor: pointer;
}
.focus_outline_0{
  &:focus{
    outline: 0;
  }
}
.bg_primary{
  background-color: #055e83;
}
.bg_primary_light{
  background-color: #169ba7;
}
.text_primary{
  color: #055e83;
}
.text_primary_light{
  color: #169ba7;
}
.text_warning{
color: #f15822;
}

.mat-step-header .mat-step-icon-selected{
  background-color: #169ba7;
}
.mat-step-header .mat-step-icon {
  background-color: rgba(0,0,0,.44);
}
.mat-step-header .mat-step-icon-state-edit {
    background-color: #055e83;
    color: #fff;
}

/* scroll bar style */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #169ba7; 
}
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}


  @media(min-width: 600px){
    .cdk-overlay-pane,.mat-dialog-container{
      width: 384px !important;
    }
  }