.navbrandLogo{
    text-indent: -100000px;
    background-image: url('https://i.ibb.co/4Jsy8bz/navbrandlogo.png');
    text-indent: -100000px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}
